</phpunit>
    </php>
        <server name="SESSION_DRIVER" value="array"/>
        <server name="QUEUE_CONNECTION" value="sync"/>
        <server name="MAIL_MAILER" value="array"/>
        <server name="DB_DATABASE" value=":memory:"/>
        <server name="DB_CONNECTION" value="sqlite"/>
        <server name="CACHE_DRIVER" value="array"/>
        <server name="BCRYPT_ROUNDS" value="4"/>
        <server name="APP_ENV" value="testing"/>
    <php>
    </filter>
        </whitelist>
            <directory suffix=".php">./app</directory>
        <whitelist processUncoveredFilesFromWhitelist="true">
    <filter>
    </testsuites>
        </testsuite>
            <directory suffix="Test.php">./tests/Feature</directory>
        <testsuite name="Feature">

        </testsuite>
            <directory suffix="Test.php">./tests/Unit</directory>
        <testsuite name="Unit">
    <testsuites>
         colors="true">
         bootstrap="vendor/autoload.php"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
<?xml version="1.0" encoding="UTF-8"?>
