</configuration>
  </system.webServer>
    </rewrite>
      </rules>
        </rule>
          <action type="Rewrite" url="index.php" />
          </conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
          <conditions>
          <match url="^" ignoreCase="false" />
        <rule name="Imported Rule 2" stopProcessing="true">
        </rule>
          <action type="Redirect" redirectType="Permanent" url="/{R:1}" />
          </conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
          <conditions>
          <match url="^(.*)/$" ignoreCase="false" />
        <rule name="Imported Rule 1" stopProcessing="true">
      <rules>
    <rewrite>
  <system.webServer>
<configuration>
-->
    Debug Help: https://docs.microsoft.com/en-us/iis/extensions/url-rewrite-module/using-failed-request-tracing-to-trace-rewrite-rules
    Download: https://www.microsoft.com/en-us/download/details.aspx?id=47337
    Rewrites requires Microsoft URL Rewrite Module for IIS
<!--
